@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Poppins";
}

div {
  overflow-x: hidden;
  overflow-y: hidden;
}

/* Ajuste na velocidade da animação */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  gap: 2rem; /* Espaçamento entre as logos */
  animation: scroll 30s linear infinite; /* Aumente ou diminua o valor para ajustar a velocidade */
  width: max-content;
}

.animate-scroll img {
  min-width: 100px;
  height: 60px; /* Largura mínima para cada logo */
}


.teste {
  background: linear-gradient(37deg, rgba(245, 245, 245, 0) 53%, rgba(0, 128, 0, 1) 100%);
  border-bottom: 2px solid black;
}

.teste2 {
  background: linear-gradient(37deg, rgba(245, 245, 245, 0) 53%, rgba(255, 204, 0, 1) 100%);
}

/* Configurando o Modo escuro menu Sanduíche */
.dark .text-black {
  color: #ffffff; 
}
.dark .bg-transparent {
  background-color: #1a1a1a; 
}
.dark .border-black {
  border-color: #ffffff;
}
.dark .underline-animation::after {
  background-color: #ffffff;
}
.dark .menu-sandwich div {
  background-color: #ffffff; 
}


/* Link Underline Animation */
.underline-animation {
  position: relative;
  padding-bottom: 10px;
}

.underline-animation::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width 0.3s ease;
}

.underline-animation:hover::after {
  width: 100%;
}

/* Borda da opção ativa */
a.active-link {
  border-bottom-width: 2px;
  border-color: black;
}

.dark a.active-link {
  border-color: white;
}

/* Link Hover Colors */
a:hover {
  color: #008000;
  /* Cor verde para hover no modo claro */
}

.dark a:hover {
  color: #ffcc00;
  /* Cor amarela para hover no modo escuro */
}

/* Personalização para a página Para Empresa */
.underline-initial {
  border-bottom: 2px solid currentColor;
  color: inherit;
}


/* Heading Styles */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Button Styles */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: greenyellow;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Light Mode Adjustments */
@media (prefers-color-scheme: light) {
  :root {
    color: #000000;
    background-color: #ffffff;
  }

  a:hover {
    color: green;
  }

  .botaoEntrar {
    color: white;
    background-color: #008492;
  }

  .botaoEntrar:hover {
    color: white;
    background-color: green;
  }

  button:hover {
    border-color: green;
  }
}

footer a:hover {
  color: gray;
  text-decoration: none;
}

.DownloadApp img:hover {
  border: solid chartreuse;
  border-radius: 10px;
  transition: 0.2s;
}

.SocialMedia img:hover {
  border: solid chartreuse;
  border-radius: 10px;
  transition: 0.2s;
}